{% extends "JSPCoreBundle::layout_error.html.twig" %}

{% block title %}{{ 'error_page.forbidden.title'|trans({}, 'navigationui') }}{% endblock %}
{% block mainbox_classes %}mainbox_padding{% endblock %}

{% block main_content %}
  
  <h1>{{ 'error_page.forbidden.title'|trans({}, 'navigationui') }}</h1>
  
  <p>{{ 'error_page.forbidden.text'|trans({}, 'navigationui') }}</p>
  
{% endblock %}