{% extends "MuzichUserBundle::layout.html.twig" %}

{% block title %}Inscription terminé{% endblock %}

{% block content %}

  <h2>Bienvenue sur Muzich !</h2>
  
  <p>
    Bla bla bla ...
  </p>
  
  <h3>Choisissez vos tags préférés</h3>
  
  {% include "MuzichCoreBundle:Tag:tagFavoritesForm.html.twig" with { 
    'form'             : form_tags_favorites,
    'redirect'         : 'home',
    'form_name'        : form_tags_favorites_name,
    'favorite_tags_id' : favorite_tags_id
  } %}
  
  <p>
    Vous pourrez egallement modifier vos tags préféré dans la partie 'mon compte'.
  </p>
      
{% endblock %}