
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <div id="top_bar">

    <a href="{{ path('my_account') }}" >
      {{ 'top_bar.my_account'|trans({'%name%' : user.name}, 'navigationui') }}
    </a>

    <a href="{{ path('fos_user_security_logout') }}" >
      {{ 'top_bar.logout'|trans({}, 'navigationui') }}
    </a>

  </div>
{% endif %}