{% if registration_errors_pers is not defined %}
  {% set registration_errors_pers = null %}
{% endif %}

<div class="register">
  <form action="{{ path('register') }}" {{ form_enctype(form) }} 
    method="POST" 
    class="fos_user_registration_register nicelabels"
  >
    
    {% include 'MuzichUserBundle:Registration:register_form_content.html.twig' %}
    
  </form>
</div>