<!--<a href="{{ autoplay_path }}" class="button" id="autoplay_launch" 
   title="{{ 'elements.autoplay.launch'|trans({}, 'elements') }}" >
  <img src="{{ asset('/bundles/muzichcore/img/1353494305_player_play.png') }}" alt="" />
</a>-->