{% extends "MuzichCoreBundle::layout.html.twig" %}

{% block title %}A propos{% endblock %}

{% block main_content %}

  {% include "MuzichCoreBundle:Menu:containerMenu.html.twig" with {'active': 'myfavorites'} %}

  <h1>Découvrez et partagez la musique d'internet</h1>

  <p>
    Grâce au réseau de Muzi.ch découvrez chaque jours de nouveaux son partagés
    par les autres membres de ce réseau. Partagez egallement vos coup de coeurs 
    sur ce même réseau. 
  </p>

{% endblock %}