{% extends "MuzichCoreBundle::layout.html.twig" %}

{% block title %}{{ 'title.about'|trans({}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_padding{% endblock %}

{% block main_content %}

  <h1>{{ 'about.subtitle'|trans({}, 'text') }}</h1>

  <p>{{ 'about.text'|trans({}, 'text') }}</p>

{% endblock %}