<div id="bottomContainer">
  
  <a href="{{ path('info_about') }}" >
    {{ 'bottom_menu.about'|trans({}, 'navigationui') }}
  </a>
  
  -
  
  <a href="{{ path('info_development') }}" >
    {{ 'bottom_menu.development'|trans({}, 'navigationui') }}
  </a>
  
</div>