{% extends "MuzichCoreBundle::layout.html.twig" %}

{% block title %}Version en développement{% endblock %}

{% block main_content %}

  {% include "MuzichCoreBundle:Menu:containerMenu.html.twig" with {'active': null} %}

  <h1>Muzich est en cours de construction</h1>

  <p>
    Actuellement vous utilisez la version <strong>0.7</strong> de Muzich. De nombreuses 
    fonctionnalités doivent voir le jours au fur et a mesure du développement.
  </p>

{% endblock %}