{% extends "MuzichCoreBundle::layout.html.twig" %}

{% block title %}{{ 'title.devvers'|trans({}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_padding{% endblock %}

{% block main_content %}

  <h1>{{ 'dev.subtitle'|trans({}, 'text') }}</h1>

  <p>{{ 'dev.text'|trans({}, 'text') }}</p>

{% endblock %}