{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  {% if following %}
    <a href="" class="follow_link following" >
      Ne plus suivre
    </a>
  {% else %}
    <a href="" class="follow_link notfollowing" >
      Suivre
    </a>
  {% endif %}
    
  <h2>{{ group.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}