{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    
  <a href="{{ path('follow', { 'type': 'user', 'id': viewed_user.id, 'token': user.personalHash }) }}" class="follow_link following" >
    {% if following %}
      Ne plus suivre
    {% else %}
      Suivre
    {% endif %}
  </a>

  <h2>{{ viewed_user.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}