{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <span class="follow_link following">
    
    <a href="{{ path('follow', { 'type': 'user', 'id': viewed_user.id, 'token': user.personalHash }) }}" class="follow_link following" >
      {% if following %}
        {{ 'user.notfollow'|trans({}, 'users') }}
      {% else %}
        {{ 'users.follow'|trans({}, 'users') }}
      {% endif %}
    </a>
    
  </span>

  <h2>{{ viewed_user.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}