{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

  <a href="{{ path('follow', { 'type': 'group', 'id': group.id, 'token': user.personalHash }) }}" class="follow_link following" >
    {% if following %}
      Ne plus suivre
    {% else %}
      Suivre
    {% endif %}
  </a>
    
  <h2>{{ group.name }}</h2>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}