{% extends "MuzichIndexBundle::layout.html.twig" %}

{% block title %}Hello{% endblock %}

{% block content %}
    
  <div class="hello">

    <div class="login_box">
      {% include "MuzichUserBundle:Security:login.html.twig" %}
      {% include "MuzichUserBundle:Registration:register.html.twig" %}
    </div>
    
  </div>
    
    
{% endblock %}

