{% extends "MuzichIndexBundle::layout.html.twig" %}

{% block title %}Découvrez et partagez{% endblock %}

{% block content %}
    
  <div class="hello">

    <div class="login_box">
      {% include "MuzichUserBundle:Security:login.html.twig" %}
        
      <br /><br />
      
      {% include "MuzichUserBundle:Registration:register.html.twig" %}
    </div>
    
  </div>
    
    
{% endblock %}

