{% extends "MuzichIndexBundle::layout.html.twig" %}

{% block title %}{{ 'title.hello'|trans({}, 'navigationui') }}{% endblock %}

{% block content %}
    
  <div class="hello">

    <div id="login_box">
      {% include "MuzichUserBundle:Security:login.html.twig" %}
        
      <a href="#" id="registration_link">
        {{ 'registration.display'|trans({}, 'navigationui') }} >>
      </a>
    </div>
    
    <div id="registration_box" style="display: none;">
      {% include "MuzichUserBundle:Registration:register.html.twig" %}
        
      <a href="#" id="login_link">
        {{ 'login.display'|trans({}, 'navigationui') }} >>
      </a>
    </div>
    
  </div>
    
    
{% endblock %}

