{% extends "MuzichCoreBundle::layout.html.twig" %}

{% block title %}Hello{% endblock %}

{% block content %}
    <h1>Hello</h1>
    
    <img src="/favicon.ico" />
    
    {% include "MuzichUserBundle:Security:login.html.twig" %}
    {% include "MuzichUserBundle:Registration:register.html.twig" %}
    
    
    
{% endblock %}

