{% extends "MuzichIndexBundle::layout.html.twig" %}

{% block title %}{{ 'title.hello'|trans({}, 'navigationui') }}{% endblock %}

{% block content %}
    
  <div class="hello">

    <div id="login_box" style="{% if registration_page is defined %}display: none;{% endif %}">
      {% include "MuzichUserBundle:Security:login.html.twig" %}
        
      <a href="#" id="registration_link">
        {{ 'registration.display'|trans({}, 'navigationui') }} >>
      </a>
    </div>
    
    <div id="registration_box" style="{% if registration_page is not defined %}display: none;{% endif %}">
      
      <span class="sinfo">{{ 'index.beta.warning'|trans({}, 'userui') }}</span>

      {% include "MuzichUserBundle:Registration:register.html.twig" %}
        
      <a href="#" id="login_link">
        {{ 'login.display'|trans({}, 'navigationui') }} >>
      </a>
    </div>
    
  </div>
    
    
{% endblock %}

