<ul id="register_and_login">
  {% if not app.user %}
    
  {% else %}
    <li>
      <a href="{{ path('my_account') }}" class="left">
        {{ 'top_bar.my_account'|trans({}, 'navigationui') }}
      </a>
    </li>
    <li>
      <a class="right" href="{{ path('fos_user_security_logout') }}">
          {{ 'top_bar.logout'|trans({}, 'navigationui') }}
      </a>
    </li>
  {% endif %}
</ul>