
<ul id="top-tabs">
  <li {% if active == 'public' %} class="active" {% endif %}>
    <a href="{{ path('home') }}">
      {{ 'container_menu.the_network'|trans({}, 'navigationui') }}
    </a>
  </li>
  <li {% if active == 'private' %} class="active" {% endif %}>
    <a href="{{ path('mynetwork_index') }}">
      {{ 'container_menu.my_network'|trans({}, 'navigationui') }}
    </a>
  </li>
</ul>