

.hello
{
  background-color: #f4f4f4;
  padding: 30px;
}

.hello #login_box, .hello #registration_box
{
  width: 525px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e3f6fd;
  padding: 20px;
}

#login_box input[id="username"], #login_box input[id="password"]
{
  width: 230px;
}

/*#registration_link, #login_link
{
  float: right;
  font-size: 120%;
}*/