{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}Réseau{% endblock %}

{% block content %}
    
<ul>
  {% for element in elements %} 
    <li>
      {{element.name}} ({{element.owner.username}})
        
        <ul>
          {% for tag in element.tags %} 
            <li>
              {{tag.name}}
            </li>
          {% endfor %} 
        </ul>
        
    </li>
  {% endfor %} 
</ul>
    
    
{% endblock %}