{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}Réseau{% endblock %}

{% block content %}

  <form action="{{ path('element_add') }}" method="post" {{ form_enctype(add_form) }}>
    
    {% include "MuzichCoreBundle:Element:form.add.html.twig" with { 'form': add_form } %}

    <input type="submit" />
  </form>

  #######

  {% include "MuzichCoreBundle:SearchElement:form.html.twig" %}

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
  
  {% if more_count is defined %} 
   <span class="elements_more">
     <a href="{{ path('home_more', {'count': more_count}) }}" >
       {{ 'more'|trans({}, 'userui') }}
     </a>
   </span>
  {% endif %}
  
{% endblock %}