{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{{ 'title.need_tags'|trans({}, 'navigationui') }}{% endblock %}

{% block content %}

  <div class="top_tools">
    <h1>{{ 'title.need_tags'|trans({}, 'navigationui') }}</h1>

    <p>{{ 'need_tags.text_help'|trans({}, 'userui') }}</p>
  </div>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" with {
    'display_new_elements' : true
  } %}
  
  {% if elements|length %}
    {% include "MuzichCoreBundle:SearchElement:more_button.html.twig" with {
      'more_path'     : path('search_elements_more', {
        'context'    : 'need_tags',
        'session_id' : app.user.getPersonalHash('needstagpage'),
        'id_limit'   : last_element_id
      }),
      'link_class'          : 'event_view'
    }%}
  {% endif %}
  
{% endblock %}