{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}
{% block mainbox_classes %}mainbox_padding{% endblock %}

{% block content %}
  
  <h1>{{ 'followed_by'|trans({}, 'network') }}</h1>
  
  {% if followers_users %}
    
    <ul id="followers_users" class="inline">
    {% for user in followers_users %} 
      <li>
        <a href="{{ path('show_user', { 'slug': user.slug }) }}">{{ user.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  

{% endblock %}