{% extends "MuzichMynetworkBundle::layout.html.twig" %}

{% block title %}Mon réseau{% endblock %}

{% block content %}

  <p>
    <a href="{{ path('mynetwork_index') }}" >
      Retour
    </a>
  </p>
  
  

{% endblock %}