<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "false"
    convertWarningsToExceptions = "false"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../src/Muzich/CoreBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--<server name="KERNEL_DIR" value="/path/to/your/app/" />-->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
    
    <filter>
      <blacklist>
        
        



        <directory suffix=".php">../src/Acme</directory>
        
      </blacklist>

      <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../src/Muzich</directory>
        <exclude>
          <directory suffix=".php">../src/Muzich/CoreBundle/DataFixtures</directory>

          <directory suffix=".php">../src/Muzich/FavoriteBundle/DependencyInjection</directory>

          <directory suffix=".php">../src/Muzich/GroupBundle/DependencyInjection</directory>
          <directory suffix=".php">../src/Muzich/GroupBundle/Tests</directory>

          <directory suffix=".php">../src/Muzich/MynetworkBundle/DependencyInjection</directory>

          <directory suffix=".php">../src/Muzich/UserBundle/DataFixtures</directory>
          <directory suffix=".php">../src/Muzich/UserBundle/DependencyInjection</directory>
          <directory suffix=".php">../src/Muzich/UserBundle/Tests</directory>
          <directory suffix=".php">../src/Muzich/UserBundle/Entity</directory>
        </exclude>
      </whitelist>
    </filter>

</phpunit>
