<ul class="tags_cloud">
  {% for key, tag in tags %}
    <li class="{{ css_list_length_class(key, tags|length) }}" {% if loop.index0 > cloud_tags_limit_to_display %}style="display: none;"{% endif %}>
      <a data-tagid="{{ tag.id }}" href="#" class="tag">
        {{ tag.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<div class="clearboth" ></div>