{% if tags|length %}
  <input type="hidden" id="get_elements_url" value="{{ path('show_elements_get', {
    'type'          : object_type,
    'object_id'     : object_id, 
    'tags_ids_json' : ''
  }) }}" />
  <ul id="favorite_tags">
    {% for tag in tags %}
      <li>
        <a href="#{{ tag.id }}" class="button tag">
          {{ tag.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="clearboth" ></div>
{% endif %}