<!doctype html>
<html>
  <head>
    <title>Muzi.ch - {% block title %}{% endblock %}</title>
    {% include 'MuzichCoreBundle:Layout:head.html.twig' %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
    
    {% include 'MuzichCoreBundle:Layout:noscript.html.twig' %}
    {% include 'MuzichCoreBundle:Autoplay:autoplay.html.twig' %}
  
  <div id="container">
    
    {% if app.user %}
      <a style="display: none;" onmouseover="UE.Popin.preload();" href="#" onclick="UE.Popin.show(); return false;">Vos retours</a>
    {% endif %}
  
    <div id="main_content">
      
      <div id="header">
        {% include 'MuzichCoreBundle:Layout:header.html.twig' %}
      </div>
      
      {% include 'MuzichCoreBundle:Layout:flash_messages.html.twig' %}
      
      <div id="content">
        
        <div id="main">
          
          <div id="mainbox" class="nicebox {% block mainbox_classes %}{% endblock %}">
            {% block main_content %}{% endblock %}
            {% block fos_user_content %}{% endblock %}
          </div>
          
        </div>
          
        <aside id="sidebar">
          {% block sidebar_top %}{% endblock %}
          {% include 'MuzichCoreBundle:Layout:side.html.twig' %}
          {% block sidebar_bottom %}{% endblock %}
        </aside>
          
      </div>
      
    </div>
    
    <div id="footer">
      {% include 'MuzichCoreBundle:Layout:footer.html.twig' %}
    </div>
    
  </div>
    
  </body>
</html>
