{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}{{ 'title.myfavorites'|trans({}, 'userui') }}{% endblock %}
{% block mainbox_classes %}mainbox_nopadding{% endblock %}

{% block content %}

  <div class="top_tools">
    
    <h1>{{ 'favorites.your_favorites'|trans({}, 'network') }}</h1>
  
    {% include "MuzichCoreBundle:Tag:tagsList.favorite.html.twig" with {
      'user_id' : app.user.id
    } %}
  
  </div>
  
  {% include "MuzichCoreBundle:SearchElement:default.html.twig" with{
      'display_autoplay'     : true,
      'autoplay_context'     : 'favorite_my',
      'autoplay_shuffle'     : 'elements_get_filter_data_autoplay_favorite',
      'autoplay_context'     : 'favorite_user'
  } %}
  
  {% if elements|length %}
    {% include "MuzichCoreBundle:SearchElement:more_button.html.twig" with {
      'more_path'     : path('favorite_get', {
        'user_id': app.user.id,
        'tags_ids_json' : '[]'
      }),
      'more_url_path' : path('favorite_get', {
        'user_id': app.user.id,
        'tags_ids_json' : ''
      })
    }%}
  {% endif %}
  
{% endblock %}