{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}Mes favoris{% endblock %}

{% block content %}

  {% include "MuzichCoreBundle:Menu:containerMenu.html.twig" with { 
    'active': 'myfavorites', 
    'mygroups': false, 
    'myfavorites': true 
  } %}

  <h2>{{ 'favorites.your_favorites'|trans({}, 'network') }}</h2>

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}