{% extends "MuzichFavoriteBundle::layout.html.twig" %}

{% block title %}Favoris de {{ viewed_user.name }}{% endblock %}

{% block content %}

  {% include "MuzichCoreBundle:Menu:containerMenu.html.twig" with { 
    'active': '', 
    'mygroups': false, 
    'myfavorites': true 
  } %}

  <h2>{{ 'favorites.user_favorites'|trans({'%name%' : viewed_user.name}, 'network') }}</h2>

  {% include "MuzichCoreBundle:SearchElement:default.html.twig" %}
    
{% endblock %}