{% if link_class is not defined %}
  {% set link_class = '' %}
{% endif %}
{% if more_url_path is not defined %}
  {% set more_url_path = '' %}
{% endif %}

{% if more_url_path %}
  <input type="hidden" id="more_elements_url" value="{{ more_url_path }}" />
{% endif %}
<a
  href="{{ more_path }}"
  class="elements_more {{ link_class }}"
>
  <div>
    {{ 'more'|trans({}, 'userui') }}
  </div>
</a>