
/*
1328276321_add_small.png
      1328276855_list-remove.png
      1328276953_clean.png */

div.show_options
{
  float: right;
}

#container .follow_link
{
  text-decoration: none;
  width: 110px;
  text-align: center;
}

#container a.following
{
  background: -moz-linear-gradient(top, #08ec00 0%, #10d400 39%, #0a9800 100%);
  background: -webkit-linear-gradient(top, #08ec00 0%, #10d400 39%, #0a9800 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #08ec00), color-stop(0.39, #10d400), color-stop(1, #0a9800));
  background: -o-linear-gradient(top, #08ec00 0%, #10d400 39%, #0a9800 100%);
  background: -ms-linear-gradient(top, #08ec00 0%, #10d400 39%, #0a9800 100%);
  background: linear-gradient(top, #08ec00 0%, #10d400 39%, #0a9800 100%);
  
  border: 1px solid #0a9800;
  color: white;
}

#container a.following:hover
{  
  background: -moz-linear-gradient(top, #ff1e00 0%, #e50600 35%, #bf0a00 100%);
  background: -webkit-linear-gradient(top, #ff1e00 0%, #e50600 35%, #bf0a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff1e00), color-stop(0.35, #e50600), color-stop(1, #bf0a00));
  background: -o-linear-gradient(top, #ff1e00 0%, #e50600 35%, #bf0a00 100%);
  background: -ms-linear-gradient(top, #ff1e00 0%, #e50600 35%, #bf0a00 100%);
  background: linear-gradient(top, #ff1e00 0%, #e50600 35%, #bf0a00 100%);

  border: 1px solid #bf0a00;
  text-decoration: none;
}

#container #element_add_link, #container #element_add_close_link
{
  color: white;
  font-size: 120%;
  float: right;
}

#container #element_add_box
{
  background-color: #e3f6fd;
  padding: 20px;
}

#container div.select_network a
{
  color: white;
}

div.select_network a.all_network
{
  padding-left: 20px;
  background-image: url(/bundles/muzichcore/img/1328191242_keyboard_layout.png);
  background-repeat: no-repeat;
  background-position: 2px 3px;
}

div.select_network a.my_network
{
  padding-left: 20px;
  background-image: url(/bundles/muzichcore/img/1328191129_edit_group.png);
  background-repeat: no-repeat;
  background-position: 2px 3px;
}

div.more_filters a.new_comments
{
  margin-top: 5px;
  padding-left: 20px;
  background-image: url(/bundles/muzichcore/img/1332286007_comments_reply.png);
  background-repeat: no-repeat;
  background-position: 2px 3px;
}

div.more_filters a.new_comments img
{
  margin-bottom: -3px;
}

div.select_network a.active
{
  background-color: #39c9cc
}

div.tags_prompt
{
  margin-top: 5px;
}

p.group_description
{
  font-size: 90%;
  text-indent: 15px;
}