<div id="events">
    
    <div class="score">
      <img src="{{ asset('bundles/muzichcore/img/1332286466_stock_scores.png') }}" alt="" />
      <span>{{ app.user.reputation }}</span>
    </div>
    
    <div class="comments">
      <img src="{{ asset('bundles/muzichcore/img/1332286007_comments_reply.png') }}" alt="" />
      {% if events[event_const('TYPE_COMMENT_ADDED_ELEMENT')] is defined %}
        <span>{{ events[event_const('TYPE_COMMENT_ADDED_ELEMENT')].count }}</span>
      {% else %}
        <span>0</span>
      {% endif %}
    </div>
  
  </div>