{% extends "MuzichUserBundle::layout.not_connected.html.twig" %}

{% block mainbox_classes %}mainbox_padding{% endblock %}
{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': ''}, 'FOSUserBundle') }}
</p>
{% endblock %}
