<div id="footer_content">
      
  <div id="footer_logo">
    <img src="{{ asset('/img/icon_minilogo_3.png') }}" alt="footer_logo">
    <span class="fotter_muzich_big">&copy; MUZI.CH</span>
    Tous droits réservés Bastien Sévajol 2012 - 2013
  </div>
  
  {% include "MuzichCoreBundle:Info:container.html.twig" %}

</div>