<div id="hgroup">
  
  {% include "MuzichCoreBundle:Language:languages.html.twig" %}
  
  <a id="header_logo" href="{{ path('home') }}" title="">
    <img src="{{ asset('img/header_logo.png') }}" alt="logo" />
  </a>
  
  {% include 'MuzichCoreBundle:Menu:access.html.twig' %}
  
  {% include 'MuzichCoreBundle:Menu:main_menu.html.twig' %}
  
</div>