<noscript>
  <div id="noscript_warning">
    <p>
      {{ 'noscript.message'|trans({}, 'messages') }}
      <a href="{{ 'noscript.link_search'|trans({}, 'messages') }}" target="_blank">
        {{ 'noscript.link_text'|trans({}, 'messages') }}
      </a>
    </p>
  </div>
</noscript>