<div id="social" class="nicebox">
  <ul class="social_links">
    <li>
      <a href="" >
        <img src="{{ asset('/img/icon_facebook.png') }}" alt="facebook" />
      </a>
    </li>
    <li>
      <a href="" >
        <img src="{{ asset('/img/icon_twitter.png') }}" alt="twitter" />
      </a>
    </li>
    <li>
      <a href="" >
        <img src="{{ asset('/img/icon_googleplus.png') }}" alt="google plus" />
      </a>
    </li>
  </ul>
</div>