{% extends 'MuzichAdminBundle:Dashboard:dashboard.html.twig' %}

{% block title %}Admingenerator{% endblock %}

{% block content %}
    <div class="hero-unit">          
      {% block page_title %}
          <header>
              <h1>Muzi.ch Admin</h1>
          </header>
      {% endblock %}
      <p>Administration interface of muzi.ch.</p>
    </div>
    <div class="row-fluid">
      Ici prendron place les données statistiques
    </div><!--/row-->
{% endblock %}