<li class="comment">
  <a href="{{ path('show_user', {'slug': comment.u.s}) }}" >{{ comment.u.n }}</a>: 
  {{ comment.c }}
  <span class="datesince">({{ comment.d|date_or_relative_date }})</span>
</li>