<textarea name="comment">{% if comment_value is defined %}{{ comment_value }}{% endif %}</textarea>

<div class="buttons">
  <input 
    type="submit" 
    value="{{ submit_value }}" 
    class="button"
  />
  <br />
  <input 
    type="button" 
    value="{{ cancel_value }}" 
    class="button cancel"
  />
</div>

{% if not own %}
  <br />
  <input type="checkbox" name="follow" id="input_comment_follow" {% if following %}checked="checked"{% endif %} />
  <label for="input_comment_follow">{{ 'element.comments.follow.label'|trans({}, 'elements') }}</label>
{% endif %}