
<div class="create_playlist">
  <form action="{{ path('playlist_add_element_and_create', { 'element_id' : element_id }) }}" method="post">
    {% include 'MuzichPlaylistBundle:Show:form.html.twig' %}
  </form>
</div>

<div>
  {% if playlists|length %}
    <ul class="playlists_for_element">
      {% for playlist in playlists %}
        <li class="playlist">
          <a class="add_element_to_playlist"
            {% if playlist.owned(app.user) %}
              href="{{ path('playlists_add_element', {
                'playlist_id' : playlist.id,
                'element_id'  : element_id
              }) }}"
            {% else %}
              href="{{ path('playlists_add_element_and_copy', {
                'playlist_id' : playlist.id,
                'element_id'  : element_id
              }) }}"
            {% endif %}
          >
            {{ playlist.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>NO PLAYLIST</p>
  {% endif %}
</div>