{% extends "MuzichHomeBundle::layout.html.twig" %}

{% block title %}{% endblock %}
{% block mainbox_classes %}{% endblock %}

{% block content %}
  
  {% if playlists|length %}
  <ul class="playlists">
    {% for playlist in playlists %}
      <li>
        
        <a class="autoplay_playlist" href="{{ path('playlist_datas_for_autoplay', { 'playlist_id' : playlist.id }) }}" >
          Lire
        </a>
        
        <a href="{{ path('playlist', { 'user_slug' : viewed_user.slug, 'playlist_id' : playlist.id }) }}">
          {{ playlist.name }}
        </a>
        
        <a class="" href="{{ path('playlist_delete', { 'playlist_id' : playlist.id }) }}" >
          X
        </a>
        
        {% include "MuzichCoreBundle:Tag:tag_cloud.html.twig" with {
          'tags' : playlist.tags
        } %}
        
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  
{% endblock %}